# Removing nan values

In [26]:
#making a proper dataframe
import pandas as pd
import numpy as np
a=[1,2,3,4,np.nan]
b=[1,2,3,np.nan,5]
c=[np.nan,1,2,3,4]
d=[1,2,3,4,5]
df=pd.DataFrame([a,b,c,d],columns=list("abcde"),index=["first","second","third","foruth"])

In [27]:
df.head(2)

          a  b  c    d    e
first   1.0  2  3  4.0  NaN
second  1.0  2  3  NaN  5.0

### pd.dropna() is a method in pandas used to remove missing values (NaN values) from a DataFrame. 
### The syntax for using pd.dropna() is as follows:
```
df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
```

In [ ]:
df2=df.dropna()