# apply()
SYNTAX:
```
dataframe.apply(func, axis=0, raw=False, result_type=None, args=(), **kwds)
```

In [13]:
import pandas as pd
df=pd.read_csv('SMSSpamCollection.txt',sep='\t',header=None,names=["Type","Message"])

In [14]:
df.head()

   Type                                            Message
0   ham  Go until Stock jurong point, crazy.. Available...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [15]:
con1=df['Message'].str.contains('Stock')
df['isStock']=con1
df.head()

   Type                                            Message  isStock
0   ham  Go until Stock jurong point, crazy.. Available...     True
1   ham                      Ok lar... Joking wif u oni...    False
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...    False
3   ham  U dun say so early hor... U c already then say...    False
4   ham  Nah I don't think he goes to usf, he lives aro...    False

In [16]:
def isScam(x):
    a=str(x)
    if 'win' in a:
        return True
    else:
        return False
df['Is Scam']=df['Message'].apply(isScam)
df.head(10)
counter=0

In [17]:
df3=df['isStock']==True
df3.head(10)

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: isStock, dtype: bool