In [57]:
import pandas as pd
import numpy as np
df=pd.read_csv('Social_Network_Ads.csv')
df=df.sort_values(['Age','EstimatedSalary'])
df=df.reset_index()
del df['index']
df.head()

   Age  EstimatedSalary  Purchased
0   18            44000          0
1   18            52000          0
2   18            68000          0
3   18            82000          0
4   18            86000          0

In [58]:
X=df.iloc[:,:2]
X.head()

   Age  EstimatedSalary
0   18            44000
1   18            52000
2   18            68000
3   18            82000
4   18            86000

In [59]:
Y=df.iloc[:,-1]
Y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [60]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=.2)

In [68]:
Y_test

322    1
104    0
233    1
394    1
256    0
      ..
106    0
353    1
345    1
290    1
188    1
Name: Purchased, Length: 80, dtype: int64

In [74]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(X_train,Y_train)
y_pred=reg.predict(X_test)
out=pd.DataFrame()
out['predict']=reg.predict(X_test)
out['actual']=Y_test
out.to_csv('GfG.csv', index = True)