In [26]:
import numpy as np
import pandas as pd
df=pd.read_csv('Startups.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [27]:
X=df.iloc[:,:-1].values
Y=df.iloc[:,-1].values

In [28]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct=ColumnTransformer([('encoder',OneHotEncoder(),[3])],remainder='passthrough')
X=np.array(ct.fit_transform(X))

In [29]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=.2,random_state=0)
from sklearn.linear_model import LinearRegression

In [33]:
regressor=LinearRegression()
regressor.fit(X_train,Y_train)
y_pred=regressor.predict(X_test)
out=pd.DataFrame()
out['predict']=regressor.predict(X_test)
out['actual']=Y_test
out.head()

         predict     actual
0  103015.201598  103282.38
1  132582.277608  144259.40
2  132447.738452  146121.95
3   71976.098513   77798.83
4  178537.482211  191050.39