# if else statement , to be used where a single condition is true

In [1]:
if True:
    print("we are learning python")

we are learning python

In [4]:
a= 5
if a>2:
    print(" hello satayrth")

 hello satayrth

In [5]:
a=1
if a==3:
    print("ok")
elif a==1:
    print("true it is")
else:
    print("erro")

true it is

# while conditions

In [20]:
import time
a=10
while(a>=0):
    print(a," value is less than 10") 
    time.sleep(1)
    a=a-1
print("hi")

10  value is less than 10
9  value is less than 10
8  value is less than 10
7  value is less than 10
6  value is less than 10
5  value is less than 10
4  value is less than 10
3  value is less than 10
2  value is less than 10
1  value is less than 10
0  value is less than 10
hi

# for condition

In [19]:
a='abcd'
for x in range(0,len(a),):
    print(a[x])

a
b
c
d

In [21]:
a='helloworld'
for i in a:
    print()

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [9]:
a={'k1':10,'k2':20.5,'k3':"python"}
for b,c in a.items():
    print(b,c)

k1 10
k2 20.5
k3 python